extends layout

block content
	h1= title
	p ( you have #{ tasks.length } tasks created ) 
		a(href="#") click here

	form(action="/tasks", method="POST")
		div
			label Task Name
			input(type="text",name="name")
		div
		input(type="submit",value="Add Task")

	ul.tasks
		each task, i in tasks
			li #{ task.id } - #{ task.name }
				a(href="/tasks?id=#{ task.id }") remove